<%= form_with(model: index, local: true) do |form| %>
  <% if index.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(index.errors.count, "error") %> prohibited this index from being saved:</h2>

      <ul>
      <% index.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Title %>
    <%= form.text_field :Title %>
  </div>

  <div class="field">
    <%= form.label :Description %>
    <%= form.text_field :Description %>
  </div>

  <div class="field">
    <%= form.label :Tags %>
    <%= form.text_field :Tags %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
